<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset="UTF-8">
</head>
<body>
    <table>
        <% for( let result1 of content ) { %>
        <tr>
            <td><%= result1.id %></td>
            <td><%= result1['name'] %></td>
            <td><%= result1['start_class'] %></td>
            <td><%= result1['weapons'] %></td>
            <td><%= result1['class_change'] %></td>
        </tr>
        <% } %>
    </table>
    <form action="/" method="get">
        兵種タイプ：<select name="tynumber">
            <option value="4">歩兵</option>
            <option value="2">騎馬</option>
            <option value="3">飛行</option>
            <option value="5">魔法</option>
            <option value="1">特殊</option>
            <input type="submit" value="並び替える">
        </select>
    </form>
</body>
</html>
