<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset="UTF-8">
</head>
<body>
    <table>
        <% for( let result of content ) { %>
        <tr>
            <td><%= result.id %></td>
            <td><%= result['name'] %></td>
            <td><%= result['start_class'] %></td>
            <td><%= result['weapons'] %></td>
            <td><%= result['class_change'] %></td>
        </tr>
        <% } %>
    </table>
    <form action="/" method="get">
        兵種タイプ：<select name="tynumber">
            <option value="歩兵">4</option>
            <option value="騎馬">2</option>
            <option value="飛行">3</option>
            <option value="魔法">5</option>
            <option value="特殊">1</option>
        </select>
    </form>
</body>
</html>
