<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset="UTF-8">
</head>
<body>
    <table>
        <% for( let result2 of content ) { %>
        <tr>
            <td><%= result2.id %></td>
            <td><%= result2['name'] %></td>
            <td><%= result2.Lv %></td>
            <td><%= result2.HP %></td>
            <td><%= result2.str %></td>
            <td><%= result2.skl %></td>
            <td><%= result2.spd %></td>
            <td><%= result2.lck %></td>
            <td><%= result2.def %></td>
            <td><%= result2.res %></td>
            <td><%= result2.con %></td>
            <td><%= result2.mov %></td>
        </tr>
        <% } %>
    </table>
    <form action="/" method="get">
        ソート：<select name="stasort">
            <option value="Lv">レベル</option>
            <option value="HP">HP</option>
            <option value="str">力</option>
            <option value="skl">技</option>
            <option value="spd">速さ</option>
            <option value=“lck”>幸運</option>
            <option value=“def”>守備</option>
            <option value=“res”>魔防</option>
            <option value=“con”>体格</option>
            <option value=“mov”>移動力</option>
        </select>
        表示数：<input type="text" name="stanumber" size="10">
        <input type="submit" value="並び替える">
    </form>
</body>
</html>
